<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta
    http-equiv="Content-Security-Policy"
    content="default-src 'none'; script-src 'self' https://kaziamov-github-com.disqus.com; style-src 'self' https://fonts.googleapis.com; img-src 'self' https://kaziamov-github-com.disqus.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self' https://www.youtube.com/ https://kaziamov-github-com.disqus.com; form-action 'none'; base-uri 'self'; frame-src 'self' https://www.youtube.com/ https://kaziamov-github-com.disqus.com; frame-ancestors 'none'; upgrade-insecure-requests; block-all-mixed-content;"
    />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>

      {{ content }}
      {%- include comments.html -%}

    </main>

    {%- include footer.html -%}
    {%- include version.html -%}

    </div>
  </body>
</html>