<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <div class="container">
      {%- include header.html -%}
      <main>
        <h1>{{ page.title }}</h1>

        <p class="description">{{ page.description }}</p>

        <h2>Задание</h2>
        {{ page.task }}


        <h2>Код</h2>
        <a href="{{ page.code }}">{{ page.code }}</a>

        <h2>Решение</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
      </main>
      {%- include ads.html -%}
      {%- include footer.html -%}
    </div>
  </body>
</html>
